.leo{
	padding-top: 200px;
	font-family: 'Fresca', sans-serif;
	color: #FFF;
	padding-left: 250px;
}
html { 
  background: url('l.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}